# Dependency folders
node_modules/
frontend/node_modules/
backend/node_modules/

# Env files (ความลับห้ามหลุด!)
.env
backend/.env
frontend/.env

# Build folders
dist/
backend/dist/

# Uploads (รูปบิลที่เทสในเครื่อง)
uploads/
backend/uploads/

# OS files
.DS_Store